@import '~bootstrap/scss/bootstrap';

body {
  padding: 50px 75px;
}

button {
  border-radius: 5px;
  padding: 5px 10px;
  border: 2px solid rgb(224, 224, 224);
}

.inputs {
  border-radius: 5px;
  border: 2px solid rgb(224, 224, 224);
  width: 100%;
  height: 40px;
  //padding-right: 50px;
  font-size: 23px;
  // outline: none;
  // border-color: none;
  // box-shadow: none;
}

#title:focus {
  // outline: 1px solid rgb(51, 153, 255);
  border: .5px solid rgb(51, 153, 255);
  box-shadow: 0 0 5px rgb(51, 153, 255);
}

#location:focus {
  // outline: none;
  border-color: rgb(51, 153, 255);
  box-shadow: 0 0 5px rgb(51, 153, 255);
}

#department:focus {
  // outline: none;
  border-color: rgb(51, 153, 255);
  box-shadow: 0 0 5px rgb(51, 153, 255);
}

#comment:focus {
  // outline: none;
  border-color: rgb(51, 153, 255);
  box-shadow: 0 0 5px rgb(51, 153, 255);
}

#comment {
  min-height: 80px;
}

::placeholder {
  padding: 5px 10px;
  border-radius: 90px;
}

#save {
  // float: right;
  margin-right: 3px;
}

#next {
  border: 2px solid rgb(0, 100, 153);
  // float: right;
  background-color: rgb(0, 102, 204);
  color: rgb(250, 250, 250);
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 0;
}

.column {
  display: flex;
  flex-direction: row;
}

#container {
  display: flex;
}

h4 {
  margin-top: 20px;
  font-weight: 700;
}

.error-msg {
  color: red;
  font-weight: 350;
}

@media (min-width: 900px) {
  h1 {font-size: 50px;}
}

@media (max-width: 750px) {
  h1 {font-size: 35px;}
}

@media (max-width: 480px) {
  h1 {font-size: 25px;}
  h4 {font-size: 15px;}
  .inputs {font-size: 15px;}
  #save {float: none;}
  #next {float: none;}
  .row {
    flex-direction: column;
  }
  .column {
    flex-direction: column;
  }
  #cancel {
    width: 100%;
  }
  #save {
    margin: 5px 0;
  }
}
